/* google font */
body {
    font-family: 'Poppins', sans-serif;
}

/* top banner design */
.top-banner {
    display: flex;
    background-color: #161616;
    border: 1px solid #161616;
    border-radius: 30px;
    height: 500px;
    margin-top: 50px;
    margin-right: 140px;
    margin-bottom: 130px;
    margin-left: 140px;
    column-gap: 110px;
}

/* banner description alignment */
.banner-description {
    padding-left: 106px;

    padding-top: 111px;
    padding-bottom: 111px;
    color: white;

}

/* hover in banner-description class */
.top-banner:hover .football {
    transform: translateX(1440px);
}

/* football image */
.football {
    transform: scale(0.15);
    position: relative;
    left: 445px;
    top: -157px;
    transition: transform 2s ease-in-out;

}

/* image set up on top banner */
.top-banner img {
    height: 500px;
    position: relative;
    right: 40px;

}




/* anchor create on banner */
.top-banner a {
    background-color: red;
    text-decoration: none;
    padding: 12px 20px 12px 20px;
    color: white;
    border-radius: 5px;
    position: relative;
    top: 30px;
}

/* hover for "watch now" button */
.top-banner a:hover {
    color: black;
}

/* big part section */
.big-part {
    display: flex;
    position: relative;
    top: -30px;
}

/* nav-buttons placement */
.nav-buttons {
    display: inline-block;
    margin-left: 140px;
    border: 2px solid #161616;
    padding: 30px 30px;
    background-color: #161616;
    border-radius: 10px;
    height: 230px;
    width: 220px;

}

/* button design in nav-buttons */
.nav-buttons a {
    text-decoration: none;
    border: 1px solid #161616;
    background-color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: centre;
    align-items: center;
    border-radius: 10px;
    color: black;

}


/* text alignment inside nav buttons */
.nav-buttons a p {
    position: relative;
    left: 35px;
}

#all-group {
    position: relative;
    left: 70px;
}

#blog {
    position: relative;
    left: 87px;
}

/* video section styling and aligning */
.video-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: -4px;
    position: relative;
    top: -23px;

}

.video {
    border: 0px solid #161616;
    margin: 24px;
    margin-right: -2px;
    margin-bottom: -2px;
    Width: 232px;
    Height: 322px;
    border-radius: 5px;


}

.thumbnail img {
    Width: 232px;
    Height: 175px;
    margin-bottom: 20px;
}

.video-info a {
    text-decoration: none;
    border: 1px solid black;
    padding: 2px 14px;
    border-radius: 5px;
    margin-left: 20px;

}

.video-title {
    font-size: 12px;
    margin-left: 20px;
}

.fonts {
    display: flex;
    margin-left: 20px;
}

.fa-message {
    margin-left: 20px;
    font-size: 12px;
}

.fa-clock {
    font-size: 12px;
}

/* footer section aligning and styling */
.whole-footer {
    background-color: #161616;
    height: 400px;
    margin: 0;
    padding: 0;
}

.footer-details {
    position: relative;
    top: 110px;
}

.footer-heading {
    text-align: center;
    font-size: 40px;
    color: white;
}

hr {
    margin: 30px 150px;

}

.footer-nav {
    margin: 15px 15px;
    padding-left: 70px;
    text-decoration: none;
    color: white;

}

.social-media {
    margin: 20px 20px;
    font-size: 30px;
    position: relative;
    left: 602px;
    top: 80px;

}

/* font awesome icon styling */
.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

/* hover for social media icons */
.fa-facebook:hover {
    color: red;
}

.fa-twitter:hover {
    color: red;
}

.fa-instagram:hover {
    color: red;
}

/* CSS for upcoming-match.html */
.upcoming-match-title {
    font-size: 20px;
    text-align: center;
}

.video-info .match-time {
    text-align: center;
    font-weight: 20;
    font-size: 16px;
}

.social-links .fa-facebook {
    color: white;
}

/* media queries for making this website responsive */
/* mobile devices */
@media only screen and (max-width: 688px) {
    .top-banner {
        width: 100%;
        display: inline-block;
        margin: 55px 55px;
    }

    .banner-description {
        height: 120px;

    }

    .banner-description h1 {
        position: relative;
        top: -120px;
        left: -30px;
        font-size: 25px;
    }

    .banner-description p {
        position: relative;
        top: -120px;
        left: -30px;
        font-size: 10px;

    }

    .banner-description a {
        padding: 2px 4px 2px 4px;
        position: relative;
        top: -120px;
        right: -25px;
    }

    .top-banner img {
        height: 250px;
        width: 200px;
        position: relative;
        top: -95px;
        left: 100px;
    }

    .top-banner .football {
        width: 200px;
        position: relative;

        left: -50px;
        top: 15px;
    }

    .big-part {
        display: inline-block;
    }

    .nav-buttons {
        position: relative;
        left: -40px;
    }

    .video-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        left: 100px;
        margin-top: 20px;
    }



    .whole-footer {
        width: 90%;
        height: 700px;
        position: relative;
        left: 65px;
    }

    .footer-nav {
        display: inline-block;
    }

    .footer-details {
        display: inline-block;
    }


}

/* media queries for tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .top-banner {
        width: 100%;
        margin: 10px 10px 30px 30px;
        margin-left: 0;
    }

    .banner-description {
        position: relative;
        left: -40px;

    }

    .banner-description h1 {
        position: relative;
        top: -10px;
        left: -30px;
        font-size: 25px;
    }

    .banner-description p {
        position: relative;
        top: -10px;
        left: -30px;
        font-size: 10px;
    }

    .banner-description a {
        padding: 2px 4px 2px 4px;
        position: relative;
        top: -230px;
        right: -25px;
    }

    .top-banner img {
        height: 250px;
        width: 200px;
        position: relative;
        top: 95px;
        right: 120px;
    }
}